@charset="UTF-8";

#container   { background-color:#F0EAE8; width:100%; margin:0 auto; padding:0; position: relative;}
#header      { background-color:#526BBE; width:100%; height:80px; position: fixed;}
#content   { background-color:#F5E4DB;   margin:0px; padding: 10px 0px; color: #526BBE; text-align: center;}
#main      { background-color:white; clear:both; height:auto; }

body {margin: 0 0 0 0;}
#topMenu {
     height: 80px;  
     width: 850px;  
}
#topMenu ul {       
    list-style-type: none; 
    margin: 0px;           
    padding: 0px;          
}
#topMenu ul li {           
    list-style-type: none; 
    color: white;              
    background-color: #526BBE; 
    float: left;               
    line-height: 50px;         
    vertical-align: middle;    
    text-align: center;        
    position: relative;        
}
.menuLink {          
    text-decoration:none;       
    display: block;             
    width: 150px;               
    line-height: 80px;
    font-size: 13px;                  
    font-weight: bold;                
    font-family: "Trebuchet MS", Dotum;
}
.submenuLink {          
    text-decoration:none;
    display: block;      
    width: 200px;        
    font-size: 13px;     
    font-weight: bold;   
    font-family: "Trebuchet MS", Dotum; 
}
.menuLink {     
    color: white;
}
.topMenuLi:hover .menuLink {   
    color: #526BBE;            
    background-color: white;  
}
.submenuLink {         
    color: #2d2d2d;    
    background-color: white;   
    margin-top: -1px;          
}
.longLink {     
    width: 190px;  
}
.submenu {             
    list-style-type: none;
    position: absolute;   
    height: 0px;          
    overflow: hidden;    
    transition: height .2s;
    -webkit-transition: height .2s; 
    -moz-transition: height .2s; 
    -o-transition: height .2s; 
}
.topMenuLi:hover .submenu { 
    height: auto;           
}
.submenuLink:hover {        
    color: white;           
    background-color: #526BBE;
}
.topMenuLiLogin {
   float:right;
}